@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #171717;
  --surface: #FAFAFA;
  --cd-blue: #B6D4D6;
  --cd-yellow: #F7F859;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-cd-blue: var(--cd-blue);
  --color-cd-yellow: var(--cd-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
